.header {
  width: 100%;
  display: flex;
  font-size: 1.8rem;
  margin-bottom: 40px;
  align-items: center;
}

.header div {
  flex: 1;
}

.title {
  height: 30px;
}

.modal-btn {
  flex: 0.5;
  margin-left: 15%;
}

.content {
  width: 100%;
  padding: 0 15px;
  max-height: 260px;
  overflow-y: scroll;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 7px 7px 2px 7px;
  border: 1px solid #303030;
}

.card h4,
.card span {
  margin: 0;
  flex: 1;
}

#place {
  flex: 0.2;
  margin-left: 10px;
}

.card:hover {
  box-shadow: 11px 7px 15px -5px rgba(85, 83, 83, 0.2);
}
