.header {
  height: 80px;
  color: #fff;
  display: flex;
  padding: 0 4%;
  min-width: 600px;
  align-items: center;
  width: calc(100vw - 8%);
  justify-content: space-between;
  background-color: rgb(36, 35, 35);
  border-bottom: 1px solid rgba(89, 192, 143, 0.94);
}

.stats {
  flex: 1;
  min-width: 100px;
}

.stats span {
  color: rgba(89, 192, 143, 0.94);
}

.title {
  font-size: 2rem;
  flex: 5;
  text-align: center;
}

.actions {
  display: flex;
  flex: 1;
  align-items: center;
}

.actions div {
  max-width: 165px;
  overflow: hidden;
  margin-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user {
  font-size: 1.3rem;
  color: rgba(89, 192, 143, 0.94);
}
