.header {
  height: 80px;
  color: #fff;
  display: flex;
  padding: 0 70px;
  min-width: 760px;
  align-items: center;
  width: calc(100vw - 140px);
  justify-content: space-between;
  background-color: rgb(36, 35, 35);
  border-bottom: 1px solid rgba(89, 192, 143, 0.94);
}

.stats {
  flex: 1;
}

.stats span {
  color: rgba(89, 192, 143, 0.94);
}

.title {
  font-size: 2rem;
  text-align: center;
  width: calc(100% - 260px - 220px);
}

.actions {
  display: flex;
  max-width: 250px;
  align-items: center;
  justify-content: space-between;
}

.actions div {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 15px;
}

.user {
  font-size: 1.3rem;
  color: rgba(89, 192, 143, 0.94);
}