@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes render {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  padding: 10px;
}

.card {
  height: 220px;
  width: 220px;
  margin: 10px 30px;
  border-radius: 7px;
  transition: flip 2s;
  background-color: white;
  border: 1px solid gray;
}

.hidden:hover {
  perspective: 1000px;
  backface-visibility: hidden;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.tech-image {
  animation: render 1s;
}