.board {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  min-width: 650px;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  background-color: rgb(39, 38, 38);
}
