@font-face {
  font-family: AC;
  src: url(assets/font/AC.otf);
}

* {
  color: #fff;
  font-family: AC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}